.Sponers {
  background-color: rgba(0, 0, 0, 0.432);
  text-align: center;
  color: white;
  padding-top: 20px;
  margin-top: 20px;
}
.slider {
  margin-top: 30px;
  width: 100%;
  top: calc(50% - 97.25px);
  overflow: hidden;
}
.slider .slider-row {
  width: 2956px;
  height: 194.5px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/111863/ubiquity-summit-web-01.png);
  background-size: 2956px 194.5px;
  animation: slide 50s linear infinite;
}
@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2956px;
  }
}
